.rank_point_content{
	min-height: 400px;
}
#point-btn button{
	margin: 5px 10px;
	font-weight: bold;
	height: 40px;
}
#point-edit label{
	float: right;
	margin: 5px 0;
	padding: 5px 0;
}
#point-edit input{
	margin: 5px 0;
}
h1.text-center{
	text-shadow: 2px 2px #ccc;
}