//- block footer

.row.hidden-xs
	.col-sm-8.col-md-8.col-lg-8.col-sm-offset-2.col-md-offset-2.col-lg-offset-2.text-center
		h4 VŨ THANH HÒA - TRẦN THANH TRƯỜNG
		p Khoa Mạng Máy Tính & Truyền Thông - Trường đại học Công Nghệ Thông Tin - Đại học Quốc Gia Tp Hồ Chí Minh
		p: span.glyphicon.glyphicon-barcode
		p Thesis UIT 2015